<section class="vh-100" style="background-color: #f3f3f3">
  <div
    class="container h-100 d-flex flex-column justify-content-center align-items-center"
  >
    <!-- Logo -->
    <div class="mb-4 mt-5">
      <img
        src="../../../assets/logo.png"
        alt="Amazon Logo"
        style="width: 120px"
      />
    </div>

    <!-- Card -->
    <!-- Message Popup -->
    <div *ngIf="showPopup" class="popup-overlay">
      <div class="popup-content">
        <p>{{ popupMessage }}</p>
        <button (click)="closePopup()">OK</button>
      </div>
    </div>

    <div
      class="card p-4 w-100"
      style="max-width: 400px; border: 1px solid #ddd"
    >
      <h4 class="mb-3">Create account</h4>

      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label">Your Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
          <div
            *ngIf="
              registerForm.get('name')?.touched &&
              registerForm.get('name')?.invalid
            "
            class="text-danger mt-1"
          >
            Name is required
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <div
            *ngIf="
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.invalid
            "
            class="text-danger mt-1"
          >
            Must be a valid Gmail address
          </div>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          />
          <div
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
            "
            class="text-danger mt-1"
          >
            Must contain at least 1 uppercase, 1 lowercase, 1 number, and 1
            special character
          </div>
        </div>

        <!-- Submit -->
        <div class="d-grid mb-3">
          <button type="submit" class="amazon-btn btn btn-warning">
            Create your ecomm account
          </button>
        </div>
      </form>

      <!-- Login Link -->
      <hr />
      <p class="text-center">Already have an account?</p>
      <div class="d-grid">
        <a routerLink="/login" class="btn btn-light border">Sign in</a>
      </div>
    </div>
  </div>
</section>
