<div class="container mx-auto py-8" *ngIf="product">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <img [src]="product.image" alt="Product Image" class="product-image" />
    </div>
    <div class="product-details">
      <h1 class="text-3xl font-bold text-gray-800">{{ product.name }}</h1>
      <p class="text-gray-600 mt-2">{{ product.description }}</p>
      <div class="product-price">
        <span class="original-price">₹{{ product.old_price }}</span>
        <span class="sale-price">₹{{ product.discount_price }}</span>
        <span style="color: green; margin-left: 1rem"
          >{{ product.discount }}% OFF</span
        >
      </div>
      <div class="product size">
        <h6>Size</h6>
        <span>{{ product.size }}</span>
      </div>
      <div class="product-color mt-4">
        <h6 class="font-semibold">Color</h6>
        <span
          class="inline-block w-6 h-6 rounded-full border"
          [style.backgroundColor]="product.color"
          title="{{ product.color }}"
        ></span>
      </div>
      <div class="product-quantity">
        <h6>Select Quantity</h6>
        <button (click)="decreaseQuantity()">-</button>
        <p>{{ quantity }}</p>
        <button (click)="increaseQuantity()">+</button>
      </div>
      <div class="delivery-options">
        <h6 class="font-bold mb-2">DELIVERY OPTIONS</h6>
        <div class="delivery-info">
          <div class="delivery-item">
            <i class="fas fa-map-marker-alt text-gray-500 mr-2"></i>
            <p>Deliver to: <span style="font-weight: bold">11011</span></p>
          </div>

          <div class="delivery-item">
            <i class="fas fa-undo text-gray-500 mr-2"></i>
            <p style="font-weight: bold">7 Days Easy Return</p>
            <p style="color: rgb(125, 122, 122); font-size: small">
              Change of mind not applicable
            </p>
          </div>
        </div>
      </div>

      <div class="product-detail my-4">
        <div class="detail-row">
          <span class="detail-label">Material &amp; Care</span>
          <span class="detail-value">100% Cotton, Machine Wash</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Fit</span>
          <span class="detail-value">Regular</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Pattern</span>
          <span class="detail-value">Solid</span>
        </div>
        <div class="detail-row">
          <span class="detail-label">Country</span>
          <span class="detail-value">India</span>
        </div>
      </div>

      <button
        *ngIf="!isInCart"
        class="add-to-cart-button"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
      <button
        *ngIf="isInCart"
        class="btn btn-warning cart-btn"
        (click)="goToCart()"
      >
        Go to Cart
      </button>
      <button class="add-to-cart-button mx-5" (click)="buyNow()">
        Buy Now
      </button>
    </div>
  </div>
</div>
