.navbar{
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
.profile:active{
  background-color: #ff758c;
}
.search-results {
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
}

.search-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-item:hover, .hover-bg:hover {
  background-color: #f5f5f5;
}
.app-name {
  font-size: 1.2rem;        
  font-weight: 600;          
  font-family: 'Poppins', sans-serif; 
  color: #f9a1b0;             
  letter-spacing: 0.5px;
}

