.tabs {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .tabs button.active {
    border-bottom: 2px solid red;
  }
  .categoryTabs button.active {
    background: linear-gradient(to right, #ff7eb3, #ff758c);
  color: white;
  }
  
  .content {
    text-align: center;
  }
   .Addcard {
    background: linear-gradient(to right, #ff7eb3, #ff758c);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
  }
  
  .product-card {
    position: relative;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    left: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
 .category-btn{
  color: #ff758c;
  border: 1px solid #ff758c;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px;
 }

.cart-btn{
  color: #ff758c;
  border: 1px solid #ff758c;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px  40px;
 }
 /* .category-btn:active{
  background: linear-gradient(to right, #ff7eb3, #ff758c);
  color: white;
 } */
 .category-btn:hover{
  background: linear-gradient(to right, #ff7eb3, #ff758c);
  color: white;
 }

 .offer-badge {
  position: absolute;
  top: 55%;
  left: 30px;
  background: #ff4f81;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  z-index: 2;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ff758c;
  background: white;
  border-radius: 50%;
  padding: 5px;
  z-index: 2;
  cursor: pointer;
}


 
  