<div class="container-fluid bg-white py-3 shadow-sm">
  <div class="row text-center justify-content-center">
    <div
      class="col-4 col-sm-3 col-md-2 mb-3 position-relative"
      *ngFor="let category of categories"
      [ngClass]="{ dropdown: category.hasSubcategories }"
    >
      <div *ngIf="category.hasSubcategories" class="dropdown">
        <img
          [src]="category.img"
          alt="{{ category.name }}"
          class="img-fluid mb-2 category-img categoryImage dropdown-toggle"
          data-bs-toggle="dropdown"
        />
        <div class="fw-semibold dropdown-toggle" data-bs-toggle="dropdown">
          {{ category.name }}
        </div>
        <ul class="dropdown-menu text-start">
          <li
            *ngFor="let sub of category.subcategories"
            class="dropdown-submenu position-relative"
          >
            <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">
              {{ sub.name }}
            </a>
            <ul class="dropdown-menu sub-dropdown">
              <li *ngFor="let child of sub.children">
                <a class="dropdown-item" (click)="navigateCategory(child.path)">
                  {{ child.name }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div
        *ngIf="!category.hasSubcategories"
        (click)="navigateCategory(category.path)"
      >
        <img
          [src]="category.img"
          alt="{{ category.name }}"
          class="img-fluid mb-2 category-img categoryImage"
        />
        <div class="fw-semibold">{{ category.name }}</div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-4" *ngFor="let product of products">
      <div class="product-card">
        <div
          class="card h-100 shadow-sm"
          (click)="productDetailsPage(product.id)"
        >
          <img
            [src]="product.image"
            class="card-img-top"
            alt="{{ product.name }}"
            style="height: 250px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text text-muted small">{{ product.description }}</p>
            <p class="mb-1">
              <span class="text-decoration-line-through text-muted"
                >₹{{ product.old_price }}</span
              >
              <span class="text-danger fw-bold ms-2"
                >₹{{ product.discount_price }}</span
              >
            </p>
            <p class="mb-2">
              <span class="badge bg-success">{{ product.discount }}% OFF</span>
            </p>
            <button class="btn amazon-btn w-100">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
