<!-- payment.component.html -->
<div class="container my-5">
  <h1 class="text-center mb-4">Select Payment Method</h1>

  <div class="form-check mb-3">
    <input
      class="form-check-input"
      type="radio"
      id="online"
      name="payment-method"
      [(ngModel)]="paymentMethod"
      value="online"
    />
    <label class="form-check-label" for="online">Online Payment</label>
  </div>

  <div class="form-check mb-4">
    <input
      class="form-check-input"
      type="radio"
      id="cash-on-delivery"
      name="payment-method"
      [(ngModel)]="paymentMethod"
      value="cash-on-delivery"
    />
    <label class="form-check-label" for="cash-on-delivery"
      >Cash on Delivery</label
    >
  </div>

  <div class="d-grid gap-2">
    <button class="amazon-btn" (click)="onContinue()">Continue</button>
  </div>
</div>
