<div class="container px-5">
  <table class="table container px-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Address</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Status</th>
        <th scope="col">product name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.payment_method }}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.total_cost }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.product_name }}</td>
      </tr>
    </tbody>
  </table>
</div>
