<!-- components/dashboard-content/dashboard-content.component.html -->
<div class="container content-wrapper">
  <div class="content-header">
    <h2>Dashboard Overview</h2>
    <p class="text-muted">Welcome back, Admin!</p>
  </div>

  <!-- Metric Boxes -->
  <div class="metrics-container">
    <div class="metric-box clients">
      <div class="metric-icon">
        <i class="bi bi-people-fill"></i>
      </div>
      <div class="metric-details">
        <h3>{{ metrics.clients }}</h3>
        <p>Total Clients</p>
      </div>
      <div
        class="metric-change"
        [ngClass]="{
          positive: metrics.clientsChange > 0,
          negative: metrics.clientsChange < 0
        }"
      ></div>
    </div>

    <div class="metric-box orders">
      <div class="metric-icon">
        <i class="bi bi-card-checklist"></i>
      </div>
      <div class="metric-details">
        <h3>{{ metrics.orders }}</h3>
        <p>Total Orders</p>
      </div>
    </div>

    <div class="metric-box products">
      <div class="metric-icon">
        <i class="bi bi-box-seam"></i>
      </div>
      <div class="metric-details">
        <h3>{{ totalProducts }}</h3>
        <p>Total Products</p>
      </div>
      <div
        class="metric-change"
        [ngClass]="{
          positive: metrics.productsChange > 0,
          negative: metrics.productsChange < 0
        }"
      >
        <!-- <i
            class="bi"
            [ngClass]="
              metrics.productsChange > 0
                ? 'bi-arrow-up-right'
                : 'bi-arrow-down-right'
            "
          ></i> -->
      </div>
    </div>
  </div>
</div>
