<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Address</th>
        <th scope="col">Nationality</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.user_id }}</th>
        <td>{{ user.user_name }}</td>
        <td>{{ user.user_email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.nationality }}</td>
      </tr>
    </tbody>
  </table>
</div>
