<div class="checkout-container">
  <h1 class="checkout-header">Confirm Order</h1>

  <div class="details-card">
    <div class="container text-center">
      <div class="row">
        <div class="col-4">
          <img
            src="../../../assets/account_circle_24dp_000000.svg"
            height="100"
          />
        </div>
        <div class="col-8">
          <div class="title">fef</div>
          <div class="phone-details">Price:49444</div>
          <div class="phone-details">Quantity:49444</div>
        </div>
      </div>
    </div>
  </div>
</div>
